<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h1>专辑信息</h1>

<ol>
    <li th:each="song,itemStat:${album.getSongs()}">
        <!--<span th:text="${itemStat.index}"></span>-->
        歌曲: <span th:text="${song.getName()}"></span>
        歌手: <span th:text="${song.getArtists().get(0).name}"></span>
        专辑: <a th:href="@{'/album/' + ${song.getMusicProvider()?.name()} + '/'+ ${song.getAlbum()?.getAlbumId()}}"
               th:text="${song.getAlbum()?.getName()}"></a>
        来源: <span th:text="${song.getMusicProvider()?.toString()}"></span>
        链接: <a th:href="${song.getMusicLink()?.getUrl()}" target="_blank">播放</a>
    </li>
</ol>

</body>
</html>
