<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <title th:text="${album.getName()}"></title>
</head>
<body>

<h1 class='head'>专辑信息</h1>

<div th:replace="common/search_box"></div>

<div>
    <a th:href="@{'/cloud/download/' + ${album.getMusicProvider()?.name()} + '/'+ ${album.getAlbumId()}}">保存整张专辑到云盘</a>
</div>

<div th:replace="common/song_table(songs=${album.getSongs()})"></div>

</body>
</html>
