<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h1>歌曲搜索结果</h1>

<ol>
    <li th:each="song,itemStat:${songs}">
        <!--<span th:text="${itemStat.index}"></span>-->
        歌曲: <span th:text="${song.getName()}"></span>
        歌手: <span th:text="${song.getArtists().get(0).name}"></span>
        专辑: <span th:text="${song.getAlbum()?.getName()}"></span>
        来源: <span th:text="${song.getMusicProvider()?.toString()}"></span>
        <a th:href="${song.getMusicLink()?.getUrl()}" target="_blank">播放</a>
    </li>
</ol>

</body>
</html>