<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <title>超级曲库 - 我的云盘</title>
</head>
<body>
<h1 class='head'>我的云盘</h1>
<div><span th:inline="text">欢迎: [[${nickname}]]([[${weibo_uid}]])</span> <a href="/logout">退出登录</a></div>

<h2>音乐云盘列表</h2>

<div th:replace="common/song_table(songs=${musics},isCloudDisk=true)"></div>

<div th:replace="common/search_box"></div>

</body>
</html>