<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>超级曲库</title>
</head>
<body>
<h1>个人主页</h1>
<p th:inline="text">欢迎: [[${nickname}]]([[${weibo_uid}]])</p>
<p><a href="/logout">退出登录</a></p>

<h2>音乐云盘列表</h2>

<ol>
    <li th:each="song,itemStat:${musics}">
        歌曲: <span th:text="${song.getName()}"></span>
        <!--歌手: <span th:text="${song.getArtists().get(0).name}"></span>-->
        专辑: <a th:href="@{'/album/' + ${song.getMusicProvider()?.name()} + '/'+ ${song.getAlbum()?.getAlbumId()}}"
               th:text="${song.getAlbum()?.getName()}"></a>
        来源: <span th:text="${song.getMusicProvider()?.toString()}"></span>
        歌曲ID: <span th:text="${song.getSongId()}"></span>
        下载: <a
            th:href="@{'/disk/'+${song.getMusicProvider()?.name()}+'/'+${song.getAlbum()?.getAlbumId()}+'/'+${song.getSongId()}}"
            target="_blank">点击下载</a>
    </li>
</ol>

</body>
</html>