<table class='table' xmlns:th="http://www.thymeleaf.org">
    <tr>
        <th>歌 曲</th>
        <th th:unless="${isCloudDisk}">歌 手</th>
        <th>专 辑</th>
        <th>来 源</th>
        <th>链 接</th>
        <th th:unless="${isCloudDisk}">操 作</th>
    </tr>
    <tr th:each="song,itemStat:${songs}">
        <td><span th:text="${song.getName()}"></span></td>
        <td th:unless="${isCloudDisk}"><span th:text="${song.getArtists().get(0).name}"></span></td>
        <td><a th:href="@{'/album/' + ${song.getMusicProvider()?.name()} + '/'+ ${song.getAlbum()?.getAlbumId()}}"
               th:text="${song.getAlbum()?.getName()}" th:title="${song.getAlbum()?.getName()}"></a></td>
        <td><span th:text="${song.getMusicProvider()?.toString()}"></span></td>
        <td><a th:unless="${isCloudDisk}" th:href="${song.getMusicLink()?.getUrl()}" target="_blank">播放</a>
            <a th:if="${isCloudDisk}"
               th:href="@{'/disk/'+${song.getMusicProvider()?.name()}+'/'+${song.getAlbum()?.getAlbumId()}+'/'+${song.getSongId()}}"
               target="_blank">点击下载</a></td>
        <td th:unless="${isCloudDisk}">
            <a th:href="@{'/cloud/download/'+${song.getMusicProvider()?.name()}+'/'+${song.getAlbum()?.getAlbumId()}+'/'+${song.getSongId()}}"
               target="_blank">保存到云盘</a></td>
    </tr>
</table>
